@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(113.49deg, #850058 -30.3%, #181e41 58.12%)
    no-repeat;
  font-weight: 500;
  color: #fff;
}
.header {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 110px 15px;
}
.header__logo {
  display: block;
  width: 120px;
  height: 55px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}
.form {
  position: relative;
}
.header__item a:hover{
  color: #f3a9da;
}
.form__button {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/icon_search.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
}
.header__list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.header__link {
  color: #fff;
  text-decoration: none;
}
.header__link_gradient {
  background: linear-gradient(214.02deg, #7b1685 6.04%, #671ae4 92.95%);
  border-radius: 5px;
  padding: 10px 20px;
}
.form__input {
  width: 384px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: none;
  padding: 10px 40px;
  color: #fff;
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form__input:focus {
  outline: none;
}
.container {
  max-width: 1197px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__text {
  flex-basis: 490px;
}
.main__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
.main__desc {
  font-size: 20px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 30px;
}

.main__btn {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 18px;
}
.main__btn_gradient {
  background: linear-gradient(214.02deg, #7b1685 6.04%, #671ae4 92.95%);
  white-space: nowrap;
}
.main__image {
  flex-basis: calc(100% - 490px - 116px);
}
.main__img {
  width: 100%;
}
.main__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  gap: 110px;
  margin-top: 40px;
}
.main__item {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 20px;
}
.main__span {
  display: block;
  color: #fff;
  font-weight: 700;
}
.main__btns a:hover{
  color: #cc45d8;
}
.company {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 144px;
}
.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  max-width: 390px;
  margin: 0 auto 4px;
}
.desc {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.card {
  display: flex;
  justify-content: space-between;
  max-width: 1197px;
  margin: 60px auto 150px;
}
.card__item {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 26px;
  gap: 15px;
  flex-basis: 32%;
  box-sizing: border-box;
  transition: 0.3s;
}
.card__item:hover {
  background: rgba(255, 255, 255, 0.5);
}
.card__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
}
.card__img {
  width: 100%;
  height: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.card__info {
  display: flex;
  justify-content: space-between;
}
.card__nick {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.card__author {
  font-size: 20px;
  font-weight: 700;
}
.card__bid {
  text-align: right;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.card__price {
  display: block;
  font-size: 20px;
  color: #ffff;
  margin-top: 15px;
}
.card__link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background: linear-gradient(214.02deg, #7b1685 6.04%, #671ae4 92.95%);
  padding: 10px 20px;

  font-size: 18px;
  display: block;
  text-align: center;
}
.card__link:hover {
  background: linear-gradient(214.02deg, #7b1685 6.04%, #671ae4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #671ae4;
}
.collapsible {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  text-align: left;
  outline: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.active,
.collapsible:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.collapsible:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.5);
}

.active:after {
  content: "\2212";
  color: rgba(255, 255, 255, 1);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.1);
}
.faq {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.faq__item {
  flex-basis: 48%;
}
.banner {
  background: linear-gradient(214.02deg, #7b1685 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 0px 15px 50px;
  margin: 150px auto 50px;
  text-align: center;
}
.banner__title {
  font-weight: 700;
  font-size: 50px;
  max-width: 500px;
  margin: 0 auto 50px;
  line-height: 1.8;
}
.banner__link {
  background: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  margin: 0 auto 20px;
}
.banner a:hover {
  color: #2f0333;  
}

.header__buttons{
    display: none;
}
@media(max-width: 1130px){
    .header, .container{
        max-width: 900px;
    }
    .header__list{
        gap:20px;
        font-size: 12px;
    }
    .form__input{
        width: 260px;
        padding: 13px 13px 13px 40px;
        font-size: 14px;
    }
    .main__text{
        flex-basis: 450px;
    }
    .main__title{
        font-size: 43px;
    }
    .main__desc, .main__btn, .main__item, .desc, .card__link, .collapsible, .card__link, .content{
        font-size: 18px;
    }
    .main__image {
        flex-basis: calc(100% - 450px - 30px);
      }
    .main__span{
        font-size: 26px;
    }
    .main__list{
        gap:40px;
    }
    body{
        padding: 15px;
    }
    .company__img{
        height: 52px;
    }
    .title{
        font-size: 36px;
    }
    .card__price, .card__author, .card__nick{
        font-size: 16px;

    }
}
@media(max-width: 880px){

    .header, .container{
        max-width: 750px;
        padding: 0 15px;
    }
    .header__buttons{
        display: flex;
    }
    .form, .header__nav{
        display: none;
    }
    .header__search, .header__menu{
        display: block;
        border: none;
        background: transparent;
        width: 25px;
        height: 23px;
    }
    .header__search{       
        background-image: url(../images/search.svg);
    }
    .header__menu{
        margin-left: 25px;
        background-image: url(../images/menu.svg);
    }
    .main{
        position: relative;
    }
    .main__desc{
        max-width: 300px;
    }
    .main__item{
        font-size: 13px;
    }
    .main__image{
        flex-basis: inherit;
        position: absolute;
        max-width: 41vw;
        right: 0;
        bottom: 0;
    }
    .company{
        height: 5.5vw;
    }
    .card__cover, .card__img{
        height: 30vw;
    }
    .card__info{
        flex-direction: column;
        text-align: center;
    }
    .card__bid{
        margin-top: 20px;
        text-align: center;
    }
    .card__item{
        padding: 15px;
    }
    .banner{
        padding: 30px 15px 48px ;
    }
    .banner__title{
        font-size: 30px;
    }
}
@media(max-width: 600px){
    .header, .container{
        max-width: 370px;
    }
    .faq, .card{
        flex-direction: column;
    }
    .card{
        max-width: 300px;
        margin: 30px auto;
    }
    .card__item{
        margin-bottom: 15px;
    }
    .company{
        margin: 60px auto 80px;
    }
    .main__image{
        display: none;
    }
    .main{            
        text-align: center;
    }
    .main__desc, .main__list{
        margin: 0 auto;
    }
    .main__list{
        justify-content: center;
        margin-top: 30px;
    }
    .main__title{
        font-size: 30px;
    }
    .title{
        font-size: 25px;
    }
    .banner{
        margin-top: 30px;
    }
}
@media(max-width: 370px){
    .header, .container{
        max-width: 240px;    
    }
    .main__btn{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .main__btns{
        display: flex;
        flex-direction: column;
    }
    .desc, .card__link, .collapsible, .content, .banner__link{
        font-size: 15px;
    }
    .banner__title, .title, .main__span{
        font-size: 20px;
    }
    .main__title{
        margin-top: 30px;
    }
}
@media(max-width: 300px){
    .header, .container{
        max-width: 250px;    
    }
    .main__title{
        font-size: 20px;
        width: 200px;
    }
    .main__desc, .main__btns, .main__list{
        font-size: 15px;
        width: 180px;
        margin: 0;
    }
    .main__list{
        gap:20px;
    }
    .main__btn{
        margin: 10px auto;
    }
    .header__menu{
        margin-left: 5px;
    }
    .company {
        height: 6.5vw;
    }
    .content{
        font-size: 13px;
    }
}
